In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/yuzhong/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [6]:
pd.Series([1,3,5,np.nan,6,10])

0     1
1     3
2     5
3   NaN
4     6
5    10
dtype: float64

In [9]:
dates = pd.date_range('20160123', periods=6)
dates

DatetimeIndex(['2016-01-23', '2016-01-24', '2016-01-25', '2016-01-26',
               '2016-01-27', '2016-01-28'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2016-01-23 -0.022263  0.389434 -0.388896 -2.222268
2016-01-24 -1.116883  0.297684  0.064356 -0.180352
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027
2016-01-26 -0.705162  1.548509 -1.305758 -1.088987
2016-01-27 -0.934032  0.714223 -0.972184 -1.136728
2016-01-28  0.135816  0.241768  1.024932  0.019927

In [17]:
df2 = pd.DataFrame({ 'A' : 1.,
   ....:                      'B' : pd.Timestamp('20130102'),
   ....:                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
   ....:                      'D' : np.array([3] * 4,dtype='int32'),
   ....:                      'E' : pd.Categorical(["test","train","test","train"]),
   ....:                      'F' : 'foo' })
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [21]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [23]:
df.head(3)

                   A         B         C         D
2016-01-23 -0.022263  0.389434 -0.388896 -2.222268
2016-01-24 -1.116883  0.297684  0.064356 -0.180352
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027

In [24]:
df.tail()

                   A         B         C         D
2016-01-24 -1.116883  0.297684  0.064356 -0.180352
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027
2016-01-26 -0.705162  1.548509 -1.305758 -1.088987
2016-01-27 -0.934032  0.714223 -0.972184 -1.136728
2016-01-28  0.135816  0.241768  1.024932  0.019927

In [27]:
df.index

DatetimeIndex(['2016-01-23', '2016-01-24', '2016-01-25', '2016-01-26',
               '2016-01-27', '2016-01-28'],
              dtype='datetime64[ns]', freq='D')

In [30]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [32]:
df.values

array([[-0.02226312,  0.38943418, -0.38889606, -2.22226834],
       [-1.11688278,  0.29768439,  0.06435583, -0.18035228],
       [-0.08399192,  0.48805107, -1.15773285, -1.27402682],
       [-0.70516215,  1.54850907, -1.3057582 , -1.08898683],
       [-0.93403163,  0.7142227 , -0.97218394, -1.1367284 ],
       [ 0.13581606,  0.24176826,  1.02493199,  0.01992707]])

In [33]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.454419  0.613278 -0.455881 -0.980406
std    0.529927  0.487494  0.888752  0.813070
min   -1.116883  0.241768 -1.305758 -2.222268
25%   -0.876814  0.320622 -1.111346 -1.239702
50%   -0.394577  0.438743 -0.680540 -1.112858
75%   -0.037695  0.657680 -0.048957 -0.407511
max    0.135816  1.548509  1.024932  0.019927

In [34]:
df.T

   2016-01-23  2016-01-24  2016-01-25  2016-01-26  2016-01-27  2016-01-28
A   -0.022263   -1.116883   -0.083992   -0.705162   -0.934032    0.135816
B    0.389434    0.297684    0.488051    1.548509    0.714223    0.241768
C   -0.388896    0.064356   -1.157733   -1.305758   -0.972184    1.024932
D   -2.222268   -0.180352   -1.274027   -1.088987   -1.136728    0.019927

In [40]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2016-01-23 -2.222268 -0.388896  0.389434 -0.022263
2016-01-24 -0.180352  0.064356  0.297684 -1.116883
2016-01-25 -1.274027 -1.157733  0.488051 -0.083992
2016-01-26 -1.088987 -1.305758  1.548509 -0.705162
2016-01-27 -1.136728 -0.972184  0.714223 -0.934032
2016-01-28  0.019927  1.024932  0.241768  0.135816

In [41]:
df.sort_values(by='B')

                   A         B         C         D
2016-01-28  0.135816  0.241768  1.024932  0.019927
2016-01-24 -1.116883  0.297684  0.064356 -0.180352
2016-01-23 -0.022263  0.389434 -0.388896 -2.222268
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027
2016-01-27 -0.934032  0.714223 -0.972184 -1.136728
2016-01-26 -0.705162  1.548509 -1.305758 -1.088987

In [45]:
df['A'].sort_values(ascending=False)

2016-01-28    0.135816
2016-01-23   -0.022263
2016-01-25   -0.083992
2016-01-26   -0.705162
2016-01-27   -0.934032
2016-01-24   -1.116883
Name: A, dtype: float64

In [46]:
df[0:3]

                   A         B         C         D
2016-01-23 -0.022263  0.389434 -0.388896 -2.222268
2016-01-24 -1.116883  0.297684  0.064356 -0.180352
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027

In [48]:
df['2016-01-23':'2016-01-27']

                   A         B         C         D
2016-01-23 -0.022263  0.389434 -0.388896 -2.222268
2016-01-24 -1.116883  0.297684  0.064356 -0.180352
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027
2016-01-26 -0.705162  1.548509 -1.305758 -1.088987
2016-01-27 -0.934032  0.714223 -0.972184 -1.136728

In [52]:
df.loc[dates[0]]

A   -0.022263
B    0.389434
C   -0.388896
D   -2.222268
Name: 2016-01-23 00:00:00, dtype: float64

In [55]:
df.loc[dates[0]:dates[3], 'A':'D']

                   A         B         C         D
2016-01-23 -0.022263  0.389434 -0.388896 -2.222268
2016-01-24 -1.116883  0.297684  0.064356 -0.180352
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027
2016-01-26 -0.705162  1.548509 -1.305758 -1.088987

In [56]:
df.at[dates[0],'A']

-0.02226312319462783

In [57]:
df.iloc[0]

A   -0.022263
B    0.389434
C   -0.388896
D   -2.222268
Name: 2016-01-23 00:00:00, dtype: float64

In [60]:
df.iloc[0:3, 0:3]

                   A         B         C
2016-01-23 -0.022263  0.389434 -0.388896
2016-01-24 -1.116883  0.297684  0.064356
2016-01-25 -0.083992  0.488051 -1.157733

In [61]:
df[df > 0]

                   A         B         C         D
2016-01-23       NaN  0.389434       NaN       NaN
2016-01-24       NaN  0.297684  0.064356       NaN
2016-01-25       NaN  0.488051       NaN       NaN
2016-01-26       NaN  1.548509       NaN       NaN
2016-01-27       NaN  0.714223       NaN       NaN
2016-01-28  0.135816  0.241768  1.024932  0.019927

In [62]:
df2 = df.copy()

In [63]:
df2['E'] = - df2['B']

In [64]:
df2

                   A         B         C         D         E
2016-01-23 -0.022263  0.389434 -0.388896 -2.222268 -0.389434
2016-01-24 -1.116883  0.297684  0.064356 -0.180352 -0.297684
2016-01-25 -0.083992  0.488051 -1.157733 -1.274027 -0.488051
2016-01-26 -0.705162  1.548509 -1.305758 -1.088987 -1.548509
2016-01-27 -0.934032  0.714223 -0.972184 -1.136728 -0.714223
2016-01-28  0.135816  0.241768  1.024932  0.019927 -0.241768